body {
    background-color: pink; /* Начальный цвет фона */
    color: black; /* Начальный цвет текста */
    font-family: Arial, sans-serif;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.p {
    background-color: aliceblue;
    padding: 15px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.aa {
    background-color: pink;
}
.img-float-left {
    float: left;
    margin: 0 15px 15px 0;
}
.img-float-right {
    float: right; 
    margin: 0 0 15px 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.a {
    background-color: aliceblue;
    padding: 10px 15px;
}
.l {
    background-color: aliceblue;
    padding: 10px 15px;
}
.k {
    background-color: aliceblue;
    padding: 10px 15px;
}
.ss {
    width: 50%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}